/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.db{
    background-color: green;
}
/* HEADER */
header{
    width: 100%;
    padding: 1vw;
    background-color: white;
}
header img{
    display: inline-block;
    width: 7vw;
    margin-right: 3vw;
}
.logo, nav{
    display: inline-block;
    vertical-align: middle;
}
.left-main-nav ul li, .right-main-nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 3vw;
    font-size: 1vw;
}
.right-main-nav{
    position: relative;
    top: 0px;
    left: 25vw;
}
/* SECTIONS */
.container-big{
    width: 100%;
}
.container-middle{
    width:80%;
    margin:0 auto;
    padding-bottom: 5vw;
}
.container-small{
    width: 70%;
    margin: 0 auto;
}
.bkgr-cyan{
    background-color: #b4d0e6;
}
.row-left{
    display: inline-block;
    width: 30%;
}
.row-right{
    display: inline-block;
    width: 50%;
}
/* IMAGES */
.row-right>img{
    width: 50vw;
    position: absolute;
    top: 25vw;
    right: 15vw;
}
/* BUTTONS */
.btn{
    border: none;
    padding: .5vw 1.5vw;
}
.btn-blu{
    background-color: #0066ff;
    color: white;
}
.btn-white{
    background-color: white;
    color: black;
}
.btn-border{
    border: 1px solid black;
}
/* TEXT */
h1{
    font-size: 4.5vw;
    padding-top: 3vw;
}
p{
    font-size: 1vw;
    padding-bottom: 3vw;
}
small{
    font-size: .9vw;
}
/* FONTAWESOME */
.fa-solid.fa-arrow-down{
    display: block;
    font-size: 2vw;
    font-weight: 700;
    margin-top: 2vw;
}